@using Microsoft.AspNetCore.Components.Forms

@if(ReadOnly)
{
    <div class="card-body">
        <h5 class="card-title">@Event.Name</h5>
        <h6 class="card-subtitle">@Event.Date.ToString("dd MMM yyyy")</h6>
        <p class="card-text">📍 @Event.Location</p>
    </div>
}
else
{
    <div class="card p-3 my-3">
        <EditForm Model="Event">
            <div class="form-group">
                <label>Event Name:</label>
                <InputText class="form-control" @bind-Value="Event.Name" />
            </div>
            <div class="form-group">
                <label>Date:</label>
                <InputDate class="form-control" @bind-Value="Event.Date" />
            </div>
            <div class="form-group">
                <label>Location:</label>
                <InputText class="form-control" @bind-Value="Event.Location" />
            </div>
        </EditForm>
    </div>
}

@code {
    [Parameter]
    public EventModel Event { get; set; } = new();
    
    [Parameter] 
    public bool ReadOnly { get; set; } = false;
}
