@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    private List<Recipe> recipes=new()
        {
            new Recipe{Id=1, Name="Spaghetti Bolognese", Description="Classic Italian pasta dish."},
            new Recipe{Id=1, Name="Chicken curry", Description="Flavorful Indian curry."}
        };
    
    private Recipe selectedRecipe;

    private void SelectRecipe(Recipe recipe)
    {
        selectedRecipe=recipe;
    }
}

<h3>Recipe List</h3>
<ul>
    @foreach (var recipe in recipes)
    {
        <li>
            <strong>@recipe.Name</strong> - @recipe.Description
            <br />
            <NavLink href="@($"/recipe/{recipe.Id}")"   Match="NavLinkMatch.Prefix">View Details</NavLink>

        </li>
    }
</ul>
<NavLink href="/addrecipe">Add Recipe</NavLink>